.box-note {
    border-left: 5px solid #2196F3;
    background-color: #f0f8ff;
    padding: 0.01em 16px;
    margin-bottom: 16px;
  }
  
  .box-warning {
    border-left: 5px solid #ff9800;
    background-color: #fff3e0;
    padding: 0.01em 16px;
    margin-bottom: 16px;
  }
  
  .box-error {
    border-left: 5px solid #f44336;
    background-color: #fdeaea;
    padding: 0.01em 16px;
    margin-bottom: 16px;
  }
  