{% assign split_mark = '<|>' %}
{% if page.lang == 'en' %}
  {% assign filtered_posts = site.posts | where: "lang", "en" %}
{% else %}
  {% assign filtered_posts = site.posts | where_exp: "post", "post.lang != 'en'" %}
{% endif %}

{% assign categories = '' %}
{% for post in filtered_posts %}
  {% for category in post.categories %}
    {% assign categories = categories | append: split_mark | append: category %}
  {% endfor %}
{% endfor %}

{% assign return = categories
  | remove_first: split_mark
  | split: split_mark
  | uniq
  | sort: self %}
